@font-face {
  font-family: Domain;
  src: url("Domain.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#main {
  padding: 15px;
  overflow: hidden;
  background-attachment: #c4bcb3;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*-------page 1-----------------*/
#page1 {
  background-color: #c4bcb3;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#nav {
  width: 100%;
  display: flex;
  padding:  20px;
  align-items: center; /*y axis*/
  justify-content: space-between; /*  x axis*/
  border-bottom: 1px black solid;
  
}

#nav img {
  height: 30px;
  width: 30%;
}

#nav h5 {
  font-size: 20px;
  font-weight: 100;
  width: 30%;
}

#nav i {
  width: 30px;
  text-align: right;
  width: 30%;
}

/*second part */

#all-elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

#elem1 {
  width: 30%;
}

#elem1 h4 span {
  background-color: orangered;
  color: rgb(201, 199, 199);
  font-weight: 100;
  font-size: 2vw;
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
}

#img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* ye property img tag pe kaam karti hai*/
  transition: all ease 0.5s;
}

#img-div:hover img {
  scale: 1.1;
}

#elem1 h4 {
  font-family: canopee;
  margin-bottom: 10px;
  font-size: 2vw;
}
#elem1 p {
  font-family: Domain;
  font-size: 1vw;
  font-weight: 50;
  color: #656565;
}

#elem1 #img-div {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

#elem2 {
  width: 30%;

  text-align: center;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
}

#elem2 h2 {
  font-family: canopee;
  font-size: 7vw;
  font-weight: 100;
}

#elem2 h3 {
  font-family: Domain;
  font-size: 2vw;
  font-weight: 50;
  color: #2f2f2f;
  margin: 7px 0;
}

#elem2 h6 {
  font-family: Domain;
  font-size: 20px;
  font-weight: 100;
}
/*---------------------*/
#elem3 {
  width: 30%;
}
#elem3 h4 {
  font-family: canopee;
  margin-bottom: 10px;
  font-size: 2vw;
}

#elem3 h4 span {
  background-color: orangered;
  color: rgb(201, 199, 199);
  font-weight: 100;
  font-size: 2vw;
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
}

#elem3 #img-div2 {
  width: 100%;
  overflow: hidden;
}
#img-div2 img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* ye property img tag pe kaam karti hai*/
  transition: all ease 0.5s;
}
#img-div2:hover img {
  scale: 1.1;
}

#elem3 p {
  font-family: Domain;
  font-size: 1vw;
  font-weight: 50;
  color: #656565;
}
#mira {
  flex-wrap: wrap;
}

/* #page1 #mira {
  font-size: 16em;
  font-family: canopee;
  font-weight: 100;
  background-color: #000000;
  color: #c4bcb3;
  width: 96%;
  height: fit-content;
  margin-left: 2%;
  padding-left: 45px;
  line-height: 470px;
  letter-spacing: -15px;
  display: flex;
} */

#mira {
  font-size: 16vw; /* Use vw units for font size */
  font-family: canopee;
  font-weight: 100;
  background-color: #000000;
  color: #c4bcb3;
  width: 100%; /* Change width to 100% */
  height: fit-content;
  margin: 0 auto; /* Center the container */
  padding-left: 2vw; /* Use vw units for padding */
  line-height: 1; /* Reset line-height */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

/* Adjust font size for smaller screens */
@media only screen and (max-width: 600px) {
}
/*----------------page2------------*/
#page2 {
  background-color: #c4bcb3;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

#page-2left {
  padding-right: 10px;
  border-right: 1px solid #222;
}

#page-2left h1 {
  font-size: 8vw;
  font-family: canopee;
  text-align: center;
  font-weight: 100;

}

#page-2left h1 span {
  font-size: 10vw;
  font-family: canopee;
  text-align: center;
  
}

#page-2left img {
  width: 100%;
  object-fit: cover;
}

#page-2left p {
  font: 34px;
  font-family: Domain;
  color: #2f2f2f;
  margin-top: 20px;
}

#page-2right {
  padding-left: 10px;
}

#page-2right img {
  height: 61%;
  width: 100%;
  object-fit: cover;
}

#page-2right h1 {
  font-family: Domain;
  font-size: 6vw;
}
#main {
  background-color: #c4bcb3;
  padding-bottom: 40px;
}
/*----------------page 3-----------------------IMP*/
#page3 {
  position: relative;
  background-color: #c4bcb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Important*/
#page3 h1 {
  font-size: 26vw; /* Use vw units for font size */
  font-family: canopee;
  font-weight: 100;
  background-color: #000000;
  color: #c4bcb3;
  width: fit-content; /* Change width to 100% */

  line-height: 1; /* Reset line-height */
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

#page3 img {
  height: 26vw;
  top: 0;
  right: 7%;
}

/*page 4*/

#page4-left {
  width: 60%;
  border-right: 1px solid black;
  margin-top: 3vw;
}

#left4-upper {
  display: flex;
  margin-top: 30px;
  width: 100%;
}
#upper-left4 {
  padding: 0px 10px 10px 10px;
  border-right: 1px solid black;
}
#upper-left4 h1 {
  font-family: Domain;
  font-size: 3vw;
}
#upper-left4 h4 span {
  font-family: doamin;
}
#upper-left4 h4 {
  font-family: Domain;
  font-weight: lighter;
  color: rgb(115, 113, 113);
}
#upper-left4 h3 {
  font-family: EditorialNew-Light;
  color: #222;
  font-size: 2.5vw;
  padding-bottom: 10px;
}
#upper-right4 {
  width: 100%;
}
#upper-right4 h1 {
  font-size: large;
  letter-spacing: -1px;
  padding: 0px 20px 0px 20px;
 
}
#upper-right4 img {
  object-fit: cover;
  transition: all ease 0.5s;
  padding: 0px 20px 0px 20px;
 
}
#img-div {
  overflow: hidden;
}

#img-div:hover img {
  scale: 1.1;
}

#upper-right4 p {
  font-family: Domain;
  font-weight: normal;
  color: rgb(115, 113, 113);
  font-size: 1vw;
  padding: 0px 20px 0px 20px;
}

#page4-img img {
  width: 100%;
  padding: 10px 10px 0px 0px;
}


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(163, 9, 9);
  overflow: hidden;
  z-index: 100;

  .text-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
    color: white;
    opacity: 0;
  }
}



#holder{
    width: 800px;
    height: 500px;
    position: relative;
    background: rgb(163, 9, 9);
    
}

div#viewport {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    bottom: 180px;
}


.circles {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    word-break: normal;
    white-space: nowrap;
}
.red {
    width: 605px;
}

.expl{
    width: 800px;
}

.red .circles {
    animation: toleftR 0.96s linear infinite;
    height: 100px;
    margin-left: -132px;
}

.circle-top {
    border-radius: 50%;  display: inline-block;
    margin: 0;  padding: 0;
    box-sizing: border-box;
}

.red .circle-top {
    width: 264px;
    height: 264px;
    border: 11px solid hsl(0, 60%, 75%);
    margin-left: -10px;
}


@keyframes toleftR{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-254px)
    }
}

@keyframes toleftO{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-188px)
    }
}

@keyframes toleftG{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-130px)
    }
}

@keyframes toleftB{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-62px)
    }
}

div#explosion {
    margin-bottom: 0;  
    position: absolute;  
    bottom: 0;  
    width: 600px;    
    height: 100%;
    left: 100px;
}
div#explosion-circle {
    animation: explosion 2.88s infinite;
    animation-timing-function: cubic-bezier(0.140, 0.620, 0.405, 0.850);
    animation-direction: normal;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    opacity: 0.5;
}

@keyframes explosion{
    0%{
        opacity: 0;
        transform:translateX(0px) scale(0);
        background-color: hsl(355, 95%, 53%);
    }
    75%{
        opacity: 0.8;
        transform:translateX(0px) scale(0);
        background-color: hsl(355, 95%, 53%);
    }
    81.25%{
        background-color: hsl(200, 86%, 60%);
    }
    87.5%{
        background-color: hsl(120, 65%, 55%);
    }
    93.75%{
        background-color: hsl(60, 100%, 50%);
        opacity: 0.1;
    }
    100%{
        transform:translateX(-254px) scale(1);
        opacity: 0;
    }
}


.subviewport {
    left: 0;
    position: absolute;
    top: 0;  bottom: 0;  overflow: hidden;
}

.orange .circles {
    height: 98px;
    animation: toleftO 0.72s linear infinite;
    margin-left: 17px;
}

.orange {
    width: 505px;  
}

.orange .circle-top {
    width: 200px;
    height: 200px;
    border: 10px solid hsl(43, 77%, 76%);
    margin-left: -10px;
}

.green {
    width: 425px;
}

.green .circle-top {
    width: 140px;
    height: 140px;
    border: 10px solid hsl(123, 55%, 73%);
    margin-left: -10px;
}

.green .circles {
    height: 70px;
    animation: toleftG 0.48s linear infinite;
    margin-left: -70px;
}


.blue {
    width: 365px;
}

.blue .circle-top {
    width: 70px;
    height: 70px;
    border: 8px solid hsl(200, 77%, 73%);
    margin-left: -8px;
}

.blue .circles {
    height: 35px;
    animation: toleftB 0.24s linear infinite;
    margin-left: -35px;
}



.hexagon {
    position: absolute;
    background-color: hsl(355, 95%, 53%);
    text-align: center;
    top: 263px;
    left: 594px;
    z-index: 1;
    animation-duration: 0.96s;
    animation-name: updownR;
}
.hexagon.dude, .hexagon.dude::before, .hexagon.dude::after {
    width: 32px;
    height: 53px;
    border-width: 2px 0 2px 0;
    border-style: solid;
}
.hexagon::before {
    background-color: inherit;
    content: "";
    position: absolute;
    transform: translateY(-2px) rotate(-60deg);
    z-index: 1;
    top: 0;
    left: 0;
    border-color: inherit;
}
.hexagon::after {
    background-color: inherit;
    content: "";
    position: absolute;
    transform: translateY(-2px) rotate(60deg);
    z-index: -1;
    top: 0;
    left: 0;
    border-color: inherit;
}
.box {
    top: 210px;  
    left: 490px;
    position: absolute;
    width: 27px;
    height: 23px;
    background-color: hsl(22, 90%, 50%);

    z-index: 0;
    border-color: hsl(0, 0%, 30%);
    animation-duration: 1.44s;
    animation-name: updownO;
}

.box .face {
    width: 16px;
    height: 0;
    border-bottom: 3px solid;
    position: absolute;
    z-index: 5;
    top: 11px;
    left: 32px;
    border-color: inherit;
}
.box:before {
    width: 16px;
    height: 23px;
    position: absolute;
    content: "";
    top: -2px;
    right: -16px;
    background: inherit;
    border: inherit;
}

.box .face:after, .box .face:before {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-color: inherit; 
    border: 2px solid;
    border-radius: 50%;
    top: -6px;
    border-color: inherit;
}

.box .face:before{
    left: -4px;
}

.box .face:after{
    left: 3px;
}
.dude {
    position: absolute;
    border: 2px solid;  
    padding: 0;
    z-index: 2;
    border-top-color: hsl(0, 0%, 20%);
    border-bottom-color: hsl(0, 0%, 20%);
    border-right-color: hsl(0, 0%, 20%);
    border-left-color: hsl(0, 0%, 20%); 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.rectangle {
    left: 411px;
    top: 302px;
    width: 21px;
    height: 12px;
    background: hsl(120, 65%, 55%);
    animation-duration: .48s;
    animation-name: updownG;
}
.rectangle .face {
    position: absolute;
    top: 7px;
    left: 18px;
    border-top: 3px solid;
    height: 0;
    width: 12px;
    border-color: inherit;
}
.rectangle .face:after {
    position: absolute;
    content: "";
    border-top: 2px solid;
    border-left: 2px solid;
    width: 1px;
    height: 1px;
    border-color: inherit;
    top: -8px;
    left: -1px;
}
.circle.dude {
    top: 277px;
    left: 355px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: hsl(200, 86%, 60%);
    animation-duration: .24s;
    animation-name: updownB;
}
.circle .face {
    position: absolute;
    left: 16px;
    top: 8px;
    width: 17px;
    border-top: 2px solid;
    border-color: inherit;
    z-index: 7;
}
.circle .face:after {
    border-top: 2px solid;
    border-color: inherit;
    width: 17px;
    top: -1px;
    content: "";
    position: absolute;
    transform-origin: 0 0;
    transform: rotateZ(8deg);
}
.circle .face:before {
    position: absolute;
    content: "";
    border-top: 2px solid;  
    border-left: 2px solid;  
    width: 1px;  
    height: 1px;  border-color: inherit;
    top: -7px;
    left: -4px;
    border-radius: 50%;
}

.hexagon .face {
    position: absolute;
    border-top: 3px solid;
    border-color: inherit;
    left: 8px;
    top: 8px;
    width: 26px;
    z-index: 2;
}

.hexagon .face:after {
    position: absolute;
    content: "";
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: inherit;
    width: 8px;
    height: 21px;
    left: 12px;
    transform: skewX(11deg);
}

#red-legs{
    position: absolute;
    right: 73px;
    bottom: -20px;
}

#orange-legs{
    position: absolute;
    right: 110px;
    bottom: -20px;
}

@keyframes updownR {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        transform: translateY(-96px);
        animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
}

@keyframes updownO {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);     
    }
    25%{
        transform: translateY(75px) rotateZ(90deg);
        animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    50%{
        transform: translateY(0px) rotateZ(180deg);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
    75%{
        transform: translateY(75px) rotateZ(270deg);
        animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    100%{
        transform: translateY(0px) rotateZ(360deg);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
}

@keyframes updownG {
    0%{
        transform: translateY(0px) skewX(-25deg) scale(0.8,1.8);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        transform: translateY(-50px);
        animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
    100%{
         transform: translateY(0px) skewX(25deg) scale(0.8,1.8);
    }
}

@keyframes updownB {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(.50,0,1,.50);
    }
    50%{
        transform: translateY(25px) scale(1.2,1);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    100%{
        transform: translateY(0px);
    }
}